
.welcome {
    min-height: 80px;
    margin: 40px 0;
    padding: 10px;
    background-color: #ffcc99;
}

input {
		width: 100%;
		height: 36px;
		color: white;
		text-align: center;
		border: 0 solid white;
		background-color: rgb(255,204,163);
}

a.btn {
		margin: 10px 0;
		border: 0 solid white;
		border-radius: 0;
		background-color: #fc9;
}
